@model FIT5032_assignment.Models.tb_Brunch
<!-- author Jinfeng Li -->
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete this food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ProductName")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayName("Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suburb)
        </dd>

        <dt>
            @Html.DisplayName("Cost")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostForTwo)
        </dd>

        <dt>
            @Html.DisplayName("Last Transaction")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayName("AverRating")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverRating)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
